.products{

    margin: 20px;
    padding: 0;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;

}

.products__single{

    height: 200px;
    padding: 20px;
    background-color: #eee;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}


.products__single > img{
    width: 100%;
    height: 95%;
    object-fit: cover;
    margin-bottom: 3px;
}

.pagination{
    padding: 10px;
    margin: 15px 0;
    display: flex;
    justify-content: center;
}

.pagination > button{

    padding: 15px 20px;
    border: 1px solid gray;
    cursor: pointer;
    margin: 2px;
    border-radius: 10px ;

}

.pagination_selected{

    background-color: rgb(1, 1, 22);
    color: white;
}