.carousel-container{

  width:100%;
  height: 50%;
  margin:1rem;
  padding: 1rem;
}

.carousel{

  display:flex;
  align-items:center
}

.image-container{

  /* display: flex; */
  /* height: 100%;
  width: 90%; */
  /* align-items: center; */
  /* background-color: brown; */
  overflow: hidden;
  position: relative;
}

.image{

  margin:1rem;
  height: 100%;
  border-radius: 20px;
  height: 100%;
  /* object-fit: cover; */

}

.btn{

  /* position: absolute; */
  background-color: rgb(54, 54, 54);
  color: white;
  padding: 5px 12px;
  font-size: 16px;
  border-radius: 10%;
  height: fit-content;
  /* margin-top: 25vh; */
  cursor: pointer;
}

/* .left-btn{

  top:30%;
  left: 1rem;
}

.right-btn{

  top:30%;
  right: 1rem;
} */

