.products{

  margin:20px;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:20px;
}


.products__single{

  /* height: 250px; */
  padding: 20px;
  background-color: #eee;
  text-align: center;
  border-radius: 25px;
  cursor: pointer;
}

.products__single > img{

  width:100%;
  height: 85%;
  object-fit: cover;
  margin-bottom: 1px;
}
